In [1]:
# ANS 2:
# Using iris dataset gor automation of pipeline

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
# First we will encode the target variable

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label = LabelEncoder()

In [8]:
df['target'] = label.fit_transform(df['species'])

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  target
0           5.1          3.5           1.4          0.2  setosa       0
1           4.9          3.0           1.4          0.2  setosa       0
2           4.7          3.2           1.3          0.2  setosa       0
3           4.6          3.1           1.5          0.2  setosa       0
4           5.0          3.6           1.4          0.2  setosa       0

In [10]:
x = df.iloc[:,:-2]
y = df['target']

In [11]:
 from sklearn.model_selection import train_test_split

In [12]:
x_train ,x_test,y_train,y_test =train_test_split(x,y,test_size=0.30,random_state=42)

In [13]:
# import pipeline package 
from sklearn.pipeline import Pipeline

In [14]:
# package for handling missing values
from sklearn.impute import SimpleImputer

In [15]:
# package for feature scaling 
from sklearn.preprocessing import StandardScaler

In [16]:
# package for data encoding
from sklearn.preprocessing import OneHotEncoder

In [17]:
numerical_cols = ['sepal_length','sepal_width','petal_length','petal_width']

In [18]:
num_pipeline = Pipeline(
    steps=
    [ ('imputer',SimpleImputer(strategy='median')),
     ('scaler',StandardScaler())
    ]
)

In [19]:
# We have to transfer this pipeline from column transfer
from sklearn.compose import ColumnTransformer
processor = ColumnTransformer(
    [
        ('num_pipeline',num_pipeline,numerical_cols)
    ])

In [20]:
x_train = processor.fit_transform(x_train)
x_test = processor.transform(x_test)

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
rand_forest = RandomForestClassifier()

In [23]:
rand_forest.fit(x_train,y_train)

RandomForestClassifier()

In [24]:
y_pred = rand_forest.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
print(accuracy_score(y_test,y_pred))

1.0

In [27]:
# ANS 1:

In [28]:
df2 = sns.load_dataset('tips')

In [29]:
df2.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
df2['time'] = label.fit_transform(df2['time'])

In [32]:
df2.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [33]:
x1 = df2.iloc[:,1:]
y1 = df2["total_bill"]

In [34]:
x1_train ,x1_test,y1_train,y1_test = train_test_split(x1,y1,test_size=0.30,random_state=42)

In [35]:
n_cols = ['tip','time','size']
c_cols = ['sex','smoker','day']

In [36]:
n_pipe = Pipeline(
    steps=
    [('imputer',SimpleImputer(strategy='mean')),
     ('scaler',StandardScaler())
    ])
c_pipe = Pipeline(
    steps =
    [('imputer',SimpleImputer(strategy='most_frequent')),
     ('scaler',OneHotEncoder())
    ])

In [37]:
processor1 = ColumnTransformer(
    [
        ('num1_pipeline',n_pipe,n_cols),
        ('cat1_pipeline',c_pipe,c_cols)
    ])

In [38]:
x1_train = processor1.fit_transform(x1_train)
x1_test = processor1.transform(x1_test)

In [48]:
x1_train

array([[-0.06086095, -0.63636364, -0.62551827, ...,  1.        ,
         0.        ,  0.        ],
       [-0.06086095, -0.63636364,  1.52272629, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.4044516 , -0.63636364,  1.52272629, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.42942727, -0.63636364, -0.62551827, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.31549479, -0.63636364, -0.62551827, ...,  0.        ,
         1.        ,  0.        ],
       [-0.40300253, -0.63636364,  0.44860401, ...,  1.        ,
         0.        ,  0.        ]])

In [50]:
from sklearn.linear_model import LogisticRegression

In [51]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
from sklearn.linear_model import LinearRegression

In [61]:
from sklearn.metrics import r2_score

In [62]:
models = {
    'linerRegression':LinearRegression()
    
}

In [63]:
def evaluate_model(x1_train,x1_test,y1_train,y1_test,models):
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        
        model.fit(x1_train,y1_train)
        
        y_pred3 = model.predict(x1_test)
        
        score = r2_score(y1_test,y_pred3)
        
        report[list(models.keys())[i]] =  score
    return report

In [64]:
evaluate_model(x1_train,x1_test,y1_train,y1_test,models)

{'linerRegression': 0.556550253036515}

In [66]:
a = {
    'a':'c',
    'b':'a'
}

In [69]:
len(a)

2

In [71]:
list(a.values())

['c', 'a']

In [72]:
list(a.values())[1]

'a'